# Visual Studio Code folder
.vscode/

# C++ build folder
cpp/build/

# Catkin workspace files
flexible_arm_ws/build/
flexible_arm_ws/devel/
flexible_arm_ws/logs/
flexible_arm_ws/.catkin_tools/

# Cache
__pycache__/

# Pytest
.pytest_cache/

# Python notebook
.ipynb_checkpoints/
# json files
/*.json
/c_generated_code_mpc/
/c_generated_code_safety_filter/
c_generated_code/

# logs
logs/






