[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pin = "*"
numpy = "*"
scipy = "*"
casadi = "*"
matplotlib = "*"
gymnasium = {extras = ["accept-rom-license", "atari", "box2d", "mujoco"], version = "*"}
sb3-contrib = ">=2.0.0a1"
stable-baselines3 = ">=2.0.0a1"
ipython = "*"
panda3d-viewer = "*"
tensorboard = "*"
hydra-core = "*"

[dev-packages]

[requires]
python_version = "3.10"
